/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

 
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0;list-style: none; } 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin:0; padding: 0;width: 100%; }
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {margin: 0 0 10px 0;width: 60%; display: block;position:relative; -webkit-border-radius: 10px; -moz-border-radius: 10px; -o-border-radius: 10px; border-radius: 10px; }
.flexslider1 {margin: 0; padding: 0;}
.flexslider1 .slides > li {padding:5px 5px 0 0; display:none;} /*Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider1 .slides img {width: 58%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {margin: 0px 0px 0px 0px;padding: 0; background: #fff; position:relative;zoom: 1;padding-top:10px;}
.flexslider1 {margin: 0px 0px 0px 0px;padding: 5px 5px 0px 5px; background-color:#000;width:59%;opacity: .8!important; filter:alpha(opacity=80); border: 0px solid #fff;zoom: 1; color:#fff;position:absolute;top:290px;left:10px;width:57.8%;}
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}
.flexslider1 .slides {zoom: 1;padding-left:10px;}
.flexslider1 .slides li{margin-left:-5px;}
.flexslider .slides .baslik {zoom: 1; font-size:14px; font-weight:600; margin:0 0 10px 0;}
.flexslider1 .slides .baslik {zoom: 1; font-size:12px; font-weight:600; margin:0 0 10px 0;}
.flexslider1 .slides .metin {zoom: 1;margin:30px 0 10px 0;}
.flexslider1 .slides button {display:none;}

.carousel li {margin-right: 5px}


/* Direction Nav */
.flex-direction-nav a {z-index:3;width: 30px; height: 30px;  margin: -20px 0 0;  display: block; background: url(../img/bg_direction_nav.png) no-repeat 0 0; position: absolute; top: 50%; cursor: pointer; text-indent: -9999px; opacity: 0; -webkit-transition: all .3s ease;}
.flex-direction-nav .flex-next {background-position: 100%; right: -36px; }
.flex-direction-nav .flex-prev {left: -36px;}
.flexslider:hover .flex-next {opacity: 0.8; right:41%;}
.flexslider:hover .flex-prev {opacity: 0.8; left:1%;}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 1;}
.flex-direction-nav .disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -11px; text-align: left;z-index:10;}
.flex-control-nav li {display:none;margin: 0 6px;/* display: inline-block; */  zoom: 1; *display: inline;z-index:10;}
/*.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; box-shadow: inset 0 0 3px rgba(0,0,0,0.3);}
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; } */

.flex-control-thumbs {width:39%;margin:0px 0 0px 0;padding:0px; position: absolute;top:10px;right:0px;background-color:#fff;}
.flex-control-thumbs li {width: 100%;  margin:0 0 2px 0; display: inherit;}
.flex-control-thumbs li p {width: 99%; cursor: pointer; opacity:1} 
.flex-control-thumbs li p:hover {/* opacity: 1; font-weight:600;text-decoration:none; */}
.flex-control-thumbs .flex-active {/* cursor: pointer; opacity: 1;font-weight:bold; */ background:#e33c39 url(../images/marker_widget_links.png) no-repeat 1px 5px;color:#fff;text-decoration:none;-webkit-border-radius: 7px;
-moz-border-radius: 7px;border-radius: 7px;padding:0px 0 0px 10px;opacity:0.9;}



.haber li {background:url(../images/sidebar_bg_dotted.png) bottom right repeat-x;padding:2px;}
.haber li a {background:url(../images/marker_widget_links_black.png) no-repeat 0px 5px;display:block;padding:0px 0 0px 10px;}
.haber li a:hover {background:#e33c39 url(../images/marker_widget_links.png) no-repeat 1px 5px;-webkit-border-radius: 7px;
-moz-border-radius: 7px;border-radius: 7px;color:#fff;text-decoration:none;opacity:0.9;}


/* RESPONSIVE */
@media screen and (min-width: 768px) and (max-width: 1023px)  {
  .flex-direction-nav .flex-prev {opacity: 1; left:1%;top:210px;}
  .flex-direction-nav .flex-next {opacity: 1; right:1%;top: 210px;}
  .flexslider:hover .flex-next {opacity: 0.8; right:2%;;}
  .flexslider:hover .flex-prev {opacity: 0.8; left: 2%;}
  .flexslider .slides img {width: 100%; display: block;}
  .flexslider1{position:absolute;top:370px;left:10px;width:96.0%;}
  .flex-control-thumbs {width:100%;position:relative;}


}
@media screen and (min-width: 600px) and (max-width: 767px) {
  .flex-direction-nav .flex-prev {opacity: 1; left:1%;top: 160px;}
  .flex-direction-nav .flex-next {opacity: 1; right:1%;top: 160px;}
  .flexslider:hover .flex-next {opacity: 0.8; right:2%;;}
  .flexslider:hover .flex-prev {opacity: 0.8; left: 2%;}
  .flexslider .slides img {width: 100%; display: block;}
  .flexslider1{position:absolute;top:270px;left:10px;width:94.8%;}
  .flex-control-thumbs {width:100%;position:relative;}
  
}
@media screen and (min-width: 480px) and (max-width: 599px) {
 .flex-direction-nav .flex-prev {opacity: 1; left:1%;top:130px;}
  .flex-direction-nav .flex-next {opacity: 1; right:1%;top: 130px;}
  .flexslider:hover .flex-next {opacity: 0.8; right:2%;;}
  .flexslider:hover .flex-prev {opacity: 0.8; left: 2%;}
  .flexslider .slides img {width: 100%; display: block;}
  .flexslider1{position:absolute;top:200px;left:10px;width:93.5%;}
  .flex-control-thumbs {width:100%;position:relative;}

}
@media screen and (max-width: 479px)  {
  .flex-direction-nav .flex-prev {opacity: 1; left:1%;}
  .flex-direction-nav .flex-next {opacity: 1; right:1%;}
  .flexslider:hover .flex-next {opacity: 0.8; right: 2%;}
  .flexslider:hover .flex-prev {opacity: 0.8; left:2%;}
  .flexslider .slides img {width:100%; display: block;}
  .flexslider1{width:96.6%; position:relative;top:0;left:0;}
  .flexslider .haber {display:none;}
	
}
